<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publisher.title %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @publisher.revenue %>
</p>

<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
